:root {
    --blue: #002eff;
    --cyan: #42e8b4;
    --grey: #a4a4a6;
    --grey-light: #dbdbdb;
    --orange: #ff560a;
}

body {
    min-height: 100vh;
    background-color: var(--blue);
    background-image: linear-gradient(147deg, var(--blue) 0%, var(--cyan) 100%);
    font-family: Barlow, sans-serif;
}

h1, p {
    margin: 0;
}

.card-body {
    padding: 6rem 2rem 2rem 2rem;
}

.center-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.alerta--cyan {
    background: var(--cyan);
    border-radius: 10px;
    font-weight: bold;
}

.alerta--blue {
    background: var(--blue);
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.imagen {
    border: 5px solid var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.imagen__img {
    width: 150px;
    height: 150px;
} 

.boton {
    display: flex;
    align-items: center;
    position: relative;
}

.boton:first-of-type {
    margin-bottom: 4rem;
}

.boton__imagen {
    background: #fff;
    border: 5px solid var(--cyan);
    border-radius: 50%;
    padding: .5rem;
    position: absolute;
    left: 0px;
}

.boton__imagen-src {
    width: 50px;
    height: 50px;
}

.boton__texto {
    background: var(--blue);
    text-decoration: underline;
    margin-left: 40px;
    padding: 1rem;
}

.boton-regresar {
    background: var(--orange);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    padding: 1rem;
    position: absolute;
    top: 20px;
    left: 0px;
}